{% extends "base.html" %}
{% load static %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            {% if article.paid_content %}
                <h3>{{article.title}}</h3>
                {% if request.user.has_subscription %}
                    <p> {{article.text}} </p>
                {% else %}
                    <p> Для того, чтобы читать данную статью, необходимо подписаться на журнал! </p>
                    <a href="{% url 'subscribe' %}" >Оформить подписку</a>
                {% endif %}
            {% else %}
            <h3>{{article.title}}</h3>
            <p> {{article.text}} </p>
            {% endif %}
        </div>
    </div>
{% endblock %}